.new{
    display: flex;
    .newContainer{
        flex:6;
        display:flex;
        flex-direction: column;
        .newBody{
            padding:2rem;
            .top{
                box-shadow: 2px 4px 10px 1px rgba(201 , 201, 201, 0.47) ;
                padding:1rem 2rem;
                border-radius:0.7rem;
                .title{
                    font-size:1.5rem;
                    color:rgba(113, 113, 113, 0.795);
                    font-weight: 400;
                }
            }
            .bottom{
                display : flex;
                box-shadow: 2px 4px 10px 1px rgba(201 , 201, 201, 0.47) ;
                padding:2rem 2rem;
                border-radius:0.7rem;
                .left{
                    flex:1;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    .userImage{
                        height:7rem;
                        width:7rem;
                        border-radius:50%;
                        object-fit: cover;
                    }
                }
                .right{
                    flex:3;
                    .form{
                        padding:1rem;
                        display:flex;
                        flex-wrap: wrap;
                        .formInput{
                            margin:1rem 2rem;
                            width:40%;
                            .inputField , .inputField:focus{
                                width:100%;
                                padding:0.5rem;
                                border:0 none gray;
                                border-bottom:2px solid gray;
                                outline:none;
                                font-size:1rem;
                                font-weight:bold;
                                color:gray;

                            }
                            .inputField::placeholder{
                                font-weight:300;
                                color:rgb(182, 182, 182);
                            }

                        }
                        .imageInputLabel{
                            display: flex;
                            align-items: center;
                            gap:4rem;
                            margin-bottom:0;
                            cursor: pointer;
                        }
                        .formAction{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin:1rem 2rem;
                        }
                        .submit-btn{
                            width:9rem;
                            height:3rem;
                            background-color: teal;
                            border:none;
                            color:white;
                            font-size: 14px;
                            font-weight: 500;
                            

                        }

                    }
                }
            }
        }
    }
}